* {
  margin: 0;
  padding: 0;
}

.header {
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(117, 72, 243);;
}

/* Left section */
.header-left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left-section img {
  width: auto;  
  height: 30px;
  background-color: white;
}
.header-left-section img:hover {
    cursor:pointer;
}

.header-left-section form {
  height: 30px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}
.header-left-section input {
  height: 100%;
}


/* Middle section */
.header-middle-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-middle-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header-middle-section a img {
  width: 100%;
  height: auto;
  display: block;
}

/* Right section */
.header-right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }

.header-right-section h3{
  font-weight: normal;
}  

.header-right-section img {
  height: 30px;
  width: auto;
  object-fit: contain;
} 







