* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(195, 142, 236);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 125px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;  
  border: 5px solid white;
}


/* Left section */
.header-left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-left-section img {
  width: auto;  
  height: 30px;
  background-color: white;
}
.header-left-section img:hover {
    cursor:pointer;
}

.header-left-section form {
  height: 30px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}
.header-left-section input {
  height: 100%;
}


/* Middle section */
.header-middle-section {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.header-middle-section img {
  width: 55%;
  height: auto;
  max-height: 80px;
}

/* Right section */
.header-right-section {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
 }

.header-right-section h3{
  font-weight: normal;
}  

.header-right-section img {
  height: 30px;
  width: auto;
  object-fit: contain;
} 







